body {
  background: #010101;
  font-family: "Segoe UI", Roboto, sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100vh;
}

.formDangNhap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 1px solid #666666;
  border-radius: 30px;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

#dangKy {
	display: none;
}

#dangNhap {
	display: flex;
}

.titleDangNhap {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
}

.titleDangKy {
	margin-bottom: 30px;
}

.inputGroup {
  position: relative;
  width: 80%;
}

.inputDangNhap {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid white;
  margin-bottom: 40px;
  transition: border-color 0.3s ease, color 0.3s ease;
  padding-left: 18px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;  /* Loại bỏ outline mặc định */
}

.inputDangKy {
	margin-bottom: 30px;
}

.inputGroup label {
  position: absolute;
  top: 8px;
  left: 18px;
  transition: all 0.3s ease; /* Hiệu ứng mượt mà khi di chuyển */
  z-index: 1; /* Đảm bảo label không bị che khuất */
}

.inputDangNhap:focus {
  color: #999999; /* Màu chữ khi focus vào input */
}

.inputDangNhap:focus-visible~label,
.inputDangNhap:not(:placeholder-shown)~label {
  top: -15px;                /* Di chuyển label lên trên 15px khi focus hoặc có nội dung */
  font-size: 12px;          /* Giữ font-size nhỏ hơn */
  color: #20e959;           /* Màu xanh khi focus hoặc có nội dung */
  z-index: 2;               /* Đảm bảo label không bị che khuất */
  background-color: #010101;
  padding: 5px;
}

/* Thay đổi màu khi input có giá trị */
.inputDangNhap:not(:placeholder-shown) {
  color: #999999;  /* Màu chữ khi có giá trị */
}

.formDangNhap .message {
	font-size: 14px;
	color: #d82b2b;
	align-self: flex-start;
	margin-left: calc(10% + 18px);
	transform: translateY(-50px);
	visibility: visible;
	min-height: 20px;
}

#thongbaoDangKy {
	transform: translateY(-40px);
}

.formDangNhap .checkboxGroup {
  font-size: 12px;
  align-self: flex-start;
  margin-left: 10%;
  color: #20e959;
  accent-color: #20e959;
  text-decoration: underline;
  transform: translateY(-45px);
}

.dangnhapBtn {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-radius: 17px;
  width: 80%;
  transform: translateY(-25px);
}

#dangkyBtn {
	transform: translateY(-35px);
}

.chuyenTab {
	background: transparent;
	font-size: 12px;
	color: #20e959;
	border: none;
	text-decoration: underline;
	transform: translateY(-10px);
}

#mopopupDangNhap {
	transform: translateY(-20px);
}



