* { margin: 0; padding: 0; box-sizing: border-box; }
:root {
    --bgcolor: #1a1a1a;
    --textcolor: #e1e1e1;
    --bgcolorcontentbox: #2b2b2b;
    --bgcreateacc: #3a3a3a;
    --borderR: 20px;
    --borderInput: 10px;
}

html, body {
    overflow: hidden;
    color: var(--textcolor);
    font-family: "Segoe UI", Roboto, sans-serif;
	user-select: none;
    -webkit-text-size-adjust: none;
	background: url("assets/img/background3.jpeg") center/cover no-repeat;
	font-size: 16px;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

header {
	position: fixed;
	height: 60px;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 0;
}
