* { margin: 0; padding: 0; box-sizing: border-box; }
:root {
    --bgcolor: #1a1a1a;
    --textcolor: #e1e1e1;
    --bgcolorcontentbox: #2b2b2b;
    --bgcreateacc: #3a3a3a;
    --fontSheader: 20px;
    --font16: 16px;
    --borderR: 20px;
    --borderInput: 10px;
}

html, body {
    overflow: hidden;
    color: var(--textcolor);
    font-family: "Segoe UI", Roboto, sans-serif;
	user-select: none;
    -webkit-text-size-adjust: none;
	background: url("assets/img/background3.jpeg") center/cover no-repeat;
	font-size: var(--font16);
}
