* { margin: 0; padding: 0; box-sizing: border-box; }
:root {
    --bgcolor: #1a1a1a;
    --textcolor: #e1e1e1;
    --bgcolorcontentbox: #2b2b2b;
    --bgcreateacc: #3a3a3a;
    --borderR: 20px;
    --borderInput: 10px;
	--borderColor: #8a8a8a;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 16px;
    color: var(--textcolor);
    font-family: "Segoe UI", Roboto, sans-serif;
	user-select: none;
    -webkit-text-size-adjust: none;
	background: url("assets/img/background3.jpeg") center/cover no-repeat;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    overscroll-behavior: none;
	overflow: hidden;
}

header {
    height: 60px;
    font-size: 24px;;
    font-weight: bold;
    padding-top: 20px;
}

main {
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

.contentbox {
    border: 1px solid var(--borderColor);  
    border-radius: var(--borderR);
	width: 90%;
	margin: 0 5% 10px;
	padding: 15px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

button.contentbox {
    display: block;       /* Đảm bảo button có thể nhận chiều rộng */
    outline: none;
    cursor: pointer;
	color: var(--textcolor);
	font-size: var(--fontSmain);
    background-color: transparent;
}

/* Hiệu ứng hover */
@media (hover: hover) and (pointer: fine) {
    button.contentbox:hover {
        background-color: #999;
    }
	.formwrapper button:hover {
		background: #0099dd;
	}
}

/* Hiệu ứng khi click */
button.contentbox:active {
    transform: scale(0.96);
    background-color: #777;
}

/* Đảm bảo button không bị focus với viền */
button.contentbox:focus {
    outline: none;
}

/* Điều chỉnh chiều cao của button khi hiển thị các input */
button.contentbox.open {
    height: auto; /* Tự động mở rộng chiều cao */
}

.formDangKy {
	background-color: transparent;
    border: 1px solid transparent;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
	border-radius: var(--borderR);
    overflow: hidden;
    backdrop-filter: blur(5px);          /* làm mờ nền phía sau */
    -webkit-backdrop-filter: blur(5px);  /* hỗ trợ Safari */
}

/* Khi mở thì thêm class "active" để hiện viền */
.formDangKy.active {
    border-color: var(--borderColor);
}

button.dangKyBtn {
	width: 100%;
    margin-left: 0%;
    margin-bottom: 0;
}

/* Sắp xếp DỌC và CĂN GIỮA ở layer bên trong */
.inputformDangKy {
    display: flex;
    flex-direction: column;     /* sắp xếp theo chiều dọc */
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
}

/* Label */
.inputformDangKy .title {
	margin-left: var(--borderInput);
	margin-bottom: 5px;
	font-size: 14px;
}

/* Inputs */
.inputformDangKy input {
	background-color: transparent;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 18px;
    color: var(--textcolor);
	margin-bottom: 20px;
	font-size: 16px;
}

.inputformDangKy input:focus {
    outline: none;
    border-color: white;
    background: #999;
}

/* Message */
.inputformDangKy .message {
    min-height: 18px;
    color: #ff4d4d;
    font-size: 13px;
	margin-bottom: 20px;
	margin-left: var(--borderInput);
	transform: translateY(-15px);
}

/* Button */
.inputformDangKy button {
    background: var(--textcolor);
    padding: 12px;
    border-radius: 19px;
    font-size: 14px;
    color: black;
    border: none;
    cursor: pointer;
	transform: translateY(-15px);
    width: 90%;
    margin-left: 5%;
}

.inputformDangKy button:active {
    transform: scale(0.97) translateY(-15px);
}

#logoutBtn {
  color: red;  /* Đổi màu chữ thành đỏ */
}

footer {
    height: 85px;
	bottom: 0; /* Đảm bảo footer luôn ở dưới */
}

.footer-wrapper {
    position: absolute; /* Chắc chắn footer wrapper luôn ở dưới */
    left: 0;
    width: 90%;
    height: 55px;
	margin: 0 5% 30px;
    display: flex;
    justify-content: space-around;
	border: 1px solid white;  
    border-radius: 30px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.nav-btn {
	height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
    border-radius: 30px;
}

.nav-btn.active {
    opacity: 1;
    background: white;
	color: black;
}

.nav-icon {
    font-size: 22px;
    margin-bottom: 3px;
    color: #0088cc;
}

.nav-text {
    font-size: 11px;
}

/* Ẩn input */
.hidden {
  display: none;
}
