* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
    height: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
    color: #e1e1e1;
    font-family: "Segoe UI", Roboto, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overscroll-behavior: none;
}

header {
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-bottom: 20px;
}

main {
    flex: 1;
    overflow-y: auto;
}

.content-box {
    background-color: #2b2b2b;
    margin: 0 20px 10px;
    border-radius: 20px;
    /* height: 50px; */
    font-size: 16px;
    display: flex; 
    align-items: center; 
    box-sizing: border-box;
    padding: 15px;
    height: calc(2 * padding + font-size);
}

button.content-box {
    all: unset; /* xóa hết style mặc định của button */
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #2b2b2b;
    color: #e1e1e1;
    border: 1px solid #3a3a3a;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.15s;
}

button.content-box:hover {
    background-color: #333;
}

button.content-box:active {
    transform: scale(0.96);
    background-color: #222;
}

footer {
    position: relative;
    height: 85px;
    background-color: #1a1a1a;
}

.footer-wrapper {
    position: fixed;
    left: 20px;
    right: 20px;
    background: #2b2b2b;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.nav-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
    border-radius: 30px;
}

.nav-btn.active {
    opacity: 1;
    background: #3a3a3a;
}

.nav-icon {
    font-size: 22px;
    margin-bottom: 3px;
    color: #0088cc;
}

.nav-text {
    font-size: 11px;
}
